#widget-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.5rem;
    overflow-y: auto; /* Ensure vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
    box-sizing: border-box;
    grid-template-rows: repeat(2, 200px);
    margin-left: 0.5rem;
}

/* Wide screen adjustments */
@media (min-width: 1280px) {
    #widget-container {
        grid-template-columns: repeat(6, 2fr);
        grid-template-rows: repeat(4, 200px);
    }
}

/* Ultra-wide screen adjustments */
@media (min-width: 1600px) {
    #widget-container {
        grid-template-columns: repeat(8, 2fr);
        grid-template-rows: repeat(6, 200px);
    }
}

/* Widget Menu */

.hide-widget-menu .widget-button {
    display: none;
}

.widget-menu {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    z-index: 10;
}

.widget-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.2;
    transition: opacity 0.3s ease;
    padding: 0;
    margin: 0;
}

.widget-button:hover {
    opacity: 1;
}

.widget-icon-remove {
    order: 6
}

.widget-icon-link{
    order: 5
}

.widget-icon-action {
    order: 4; /* Position the action icon appropriately */
}

.widget-icon-resize-block {
    order: 2
}

.widget-icon-resize {
    order: 1
}

.widget-icon-fullscreen {
    font-size: 1.6rem;
    order: 0
}

.widget-icon-drag {
    cursor: grab;
    order: -1
}

.widget-icon-drag:active {
    cursor: grabbing;
}


.resize-menu {
    position: absolute;
    top: 30px;
    right: 75px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
    max-height: 200px;
    overflow-y: auto;
}

.resize-menu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.3rem;
    text-align: left;
    transition: background-color 0.3s ease;
}

.resize-menu button:hover {
    background-color: #f0f0f0;
}

.resize-menu-block {
    position: absolute;
    top: 30px;
    right: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
    max-height: 200px;
    overflow-y: auto;
}

.resize-menu-block button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.3rem;
    text-align: left;
    transition: background-color 0.3s ease;
}

.resize-menu-block button:hover {
    background-color: #f0f0f0;
}

.widget {
    position: relative;
    /* Other existing styles */
}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: se-resize;
    background-color: rgba(255, 0, 0, 0.5); /* Changed to red for visibility */
    border: 1px solid black; /* Added border for visibility */
    z-index: 99; /* Ensure it appears above other elements */
}

.resizing {
    border: 2px dotted green;
}
